<ul class="all_comments">
<% @comments.each do |comment| %>
  <li class="comment">
    <div class="poster">
      posted <span class="posted_at"><%= time_ago_in_words comment.created_at %> ago</span> by <span class="commenter"><%= link_to comment.user.name, "#" %></span> 
    </div>
    <div class="comment_text">
      <%=h comment.comment %>
    </div>
  </li>
<% end %>
</ul>
