<div id="upgrades">
  <div class="upgrade_section" id="emblem_of_frost">
    <h1>Your best upgrades from Honor Points</h1>
    <% @character.honor_point_upgrades.each do |upgrade| %>
      <%= render 'shared/upgrade', :upgrade => upgrade %>
    <% end %>
  </div>
</div>
