<ul>
  <li><%= link_to "Users", admin_users_path %></li>
  <li><%= link_to "Characters", admin_characters_path %></li>
  <li><%= link_to "Character Items", admin_character_items_path %></li>
  <li><%= link_to "Items", admin_items_path %></li>
</ul>
