<% item = Item.find_by_wowarmory_item_id(48245) %>
<style>
.gmt-tooltip{
/*  visibility:hidden;*/
  width:320px;
  z-index:100000006;
  overflow:visible!important;
}
.gmt-tooltip a{
  text-decoration:none;
}
.gmt-tooltip a:hover{
  text-decoration:underline;
}
.gmt-tooltip table{
  border-spacing:0;
  border-collapse:collapse;
  margin:0;
  width:auto;
}
.gmt-tooltip table,.gmt-tooltip td,.gmt-tooltip th,.gmt-tooltip tbody{
  border:0!important;
}
.gmt-tooltip td table td table{
  width:100%;
  }
.gmt-tooltip td,.gmt-tooltip th{
  background:url(http://static.wowhead.com/images/wow/tooltip.png);
  font-family:Verdana,sans-serif;
  font-size:12px;
  line-height:17px;
  color:white;
}
.gmt-tooltip th{
  padding:3px;
  vertical-align:top;
}
.gmt-tooltip td{
  padding:8px 4px 1px 9px;
  text-align:left;
  vertical-align:top;
}
.gmt-tooltip b{
  font-size:14px;
  line-height:19px;
  font-weight:normal;
}
.gmt-tooltip div.indent{
  padding-left:.6em;
}
.gmt-tooltip td th,.gmt-tooltip td td{
  background:none;
}
.gmt-tooltip td th{
  padding:0 0 0 4em;
  text-align:right;
  font-weight:normal;
}
.gmt-tooltip td td{
  padding:0;text-align:left;
}
.gmt-tooltip p{
  position:absolute;
  left:-44px;
  top:-1px;
  width:44px;
  height:44px;
  background:4px 4px no-repeat;
  margin:0;
  padding:0;
}
.gmt-tooltip p div{
  width:44px;
  height:44px;
  background-image:url(http://static.wowhead.com/images/Icon/medium/border/default.png);
}
.gmt-tooltip table.shrink b{
  font-size:12px;line-height:15px;
}
.gmt-tooltip table.shrink td,.gmt-tooltip table.shrink th{
  font-size:10px;
  line-height:14px;
}
.gmt-tooltip-powered{
  background:url(http://static.wowhead.com/images/logos/powered.png) no-repeat;
  width:53px;
  height:33px;
  position:absolute;
  right:-56px;
  top:2px;
  display:none;
}
.moneyitem,.moneygold,.moneysilver,.moneycopper,.moneyalliance,.moneyhorde,.moneyarena,.moneyachievement,.moneysocketmeta,.moneysocketred,.moneysocketyellow,.moneysocketblue,.moneysocketprismatic{
  background:no-repeat right center;
  color:white;
}
.moneyitem{
  padding-right:18px;
}
.moneygold{
  padding-right:15px;
  background-image:url(http://static.wowhead.com/images/icons/money-gold.gif);
}
.moneysilver{
  padding-right:15px;
  background-image:url(http://static.wowhead.com/images/icons/money-silver.gif);
}
.moneycopper{
  padding-right:15px;
  background-image:url(http://static.wowhead.com/images/icons/money-copper.gif);
}
.moneyalliance{
  padding-right:12px;
  background-image:url(http://static.wowhead.com/images/icons/alliance.gif);
}
.moneyhorde{
  padding-right:17px;
  background-image:url(http://static.wowhead.com/images/icons/horde.gif);
}

.moneyarena{
  padding-right:18px;
  background-image:url(http://static.wowhead.com/images/icons/arena.gif);
}
.moneyachievement{
  padding-right:13px;
  background-image:url(http://static.wowhead.com/images/icons/achievement.gif);
}
.moneysocketmeta{
  padding-right:18px;
  background-image:url(http://static.wowhead.com/images/icons/socket-meta.gif);
}
.moneysocketred{
  padding-right:18px;
  background-image:url(http://static.wowhead.com/images/icons/socket-red.gif);
}
.moneysocketyellow{
  padding-right:18px;
  background-image:url(http://static.wowhead.com/images/icons/socket-yellow.gif);
}
.moneysocketblue{
  padding-right:18px;
  background-image:url(http://static.wowhead.com/images/icons/socket-blue.gif);
}
.moneysocketprismatic{
  padding-right:18px;
  background-image:url(http://static.wowhead.com/images/icons/socket-prismatic.gif);
}
a.moneyitem,a.moneysocketmeta,a.moneysocketred,a.moneysocketyellow,a.moneysocketblue,a.moneysocketprismatic,a.moneyachievement{
  text-decoration:none!important;
  border-bottom:1px solid transparent;
  color:white!important;
}
a.moneyitem:hover,a.moneysocketmeta:hover,a.moneysocketred:hover,a.moneysocketyellow:hover,a.moneysocketblue:hover,a.moneysocketprismatic:hover,a.moneyachievement:hover{
  border-bottom:1px solid white;
}
a span.moneyitem,a span.moneysocketmeta,a span.moneysocketred,a span.moneysocketyellow,a span.moneysocketblue,a span.moneysocketprismatic,a span.moneyachievement{
  color:white;
}
.q,.q a{
color:#ffd100!important;
}
.q0,.q0 a{
color:#9d9d9d!important;
}
.q1,.q1 a{
color:#fff!important;
}
.q2,.q2 a{
color:#1eff00!important;
}
.q3,.q3 a{
color:#0070dd!important;
}
.q4,.q4 a{
color:#a335ee!important;
}
.q5,.q5 a{
color:#ff8000!important;
}
.q6,.q6 a{
  color:#e5cc80!important;
}
.q7,.q7 a{
color:#e5cc80!important;
}
.q8,.q8 a{
color:#ffff98!important;
}
.q9,.q9 a{color:#71d5ff!important;}
.q10,.q10 a{color:#f00!important;}
.r1{color:#FF8040!important;}
.r2{color:#FF0!important;}
.r3{color:#40BF40!important;}
.r4{color:#808080!important;}
.c1,.c1 a{color:#C69B6D!important;}
.c2,.c2 a{color:#F48CBA!important;}
.c3,.c3 a{color:#AAD372!important;}
.c4,.c4 a{color:#FFF468!important;}
.c5,.c5 a{color:#FFF!important;}
.c6,.c6 a{color:#C41E3B!important;}
.c7,.c7 a{color:#2359FF!important;}
.c8,.c8 a{color:#68CCEF!important;}
.c9,.c9 a{color:#9382C9!important;}
.c11,.c11 a{color:#FF7C0A!important;}
.gem1{color:#9D9D9D!important;}
.gem2{color:#e60c0b!important;}
.gem4{color:#ffff35!important;}
.gem6{color:#f48905!important;}
.gem8{color:#295df1!important;}
.gem10{color:#b957fc!important;}
.gem12{color:#22c516!important;}
.gem14{color:#FFF!important;}
.socket-meta{padding-left:26px;background:url(http://static.wowhead.com/images/icons/socket-meta.gif) no-repeat left center;}
.socket-red{padding-left:26px;background:url(http://static.wowhead.com/images/icons/socket-red.gif) no-repeat left center;}
.socket-yellow{padding-left:26px;background:url(http://static.wowhead.com/images/icons/socket-yellow.gif) no-repeat left center;}
.socket-blue{padding-left:26px;background:url(http://static.wowhead.com/images/icons/socket-blue.gif) no-repeat left center;}
.socket-prismatic{padding-left:26px;background:url(http://static.wowhead.com/images/icons/socket-prismatic.gif) no-repeat left center;}
</style>
<div class="gmt-tooltip">
  <table>
    <tr>
      <td>
        <table style="width:100%;">
          <tr>
            <td>
              <b class="q4">Garona's Helmet of Conquest</b>
              <br />
              Binds when picked up
              <table width="100%">
                <tr>
                  <td>Head</td>
                  <th>Leather</th>
                </tr>
              </table>
              <span>485 Armor</span>
              <br />+104 Agility
              <br />+120 Stamina
              <br /><a href="/items&amp;filter=cr=81;crs=1;crv=0" class="socket-meta q0">Meta Socket</a>
              <br /><a href="/items&amp;filter=cr=81;crs=4;crv=0" class="socket-blue q0">Blue Socket</a>
              <br /><span class="q0">Socket Bonus: +8 Agility</span>
              <br />Durability 70 / 70
              <br />Classes: <a href="/class=4" class="c4">Rogue</a>
              <br />Requires Level 80
              <br />Item Level 232
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              <span class="q2">Equip: Improves critical strike rating by 80&nbsp;<small>(1.74%&nbsp;@&nbsp;L80)</small>.</span>
              <br /><span class="q2">Equip: Increases your expertise rating by 64&nbsp;<small>(7.81&nbsp;@&nbsp;L80)</small>.</span>
              <br /><span class="q2">Equip: Increases attack power by 129.</span>
              <br />
              <br /><span class="q"><a href="/itemset=858" class="q">Conqueror\'s Garona\'s Battlegear</a> (0/5)</span>
              <div class="q0 indent">
                <span>
                  <a href="/item=48243">Garona\'s Breastplate of Conquest</a>
                </span>
                <br />
                <span>
                  <a href="/item=48244">Garona\'s Gauntlets of Conquest</a>
                </span>
                <br /><span><a href="/item=48245">Garona\'s Helmet of Conquest</a></span>
                <br /><span><a href="/item=48246">Garona\'s Legplates of Conquest</a></span>
                <br /><span><a href="/item=48247">Garona\'s Pauldrons of Conquest</a></span>
              </div>
              <br />
              <span class="q0">
                <span>(2) Set: 
                  <a href="/spell=67209">Your Rupture ability has a chance each time it deals damage to reduce the cost of your next ability by 40 energy.</a>
                </span>
                <br />
                <span>(4) Set: 
                  <a href="/spell=67211">Increases the critical strike chance of your Hemorrhage, Sinister Strike, Backstab, and Mutilate abilities by 5%.</a>
                </span>
              </span>
            </td>
          </tr>
        </table>
      </td>
      <th style="background-position: right top;"></th>
    </tr>
    <tr>
      <th style="background-position: left bottom;"></th>
      <th style="background-position: right bottom;"></th>
    </tr>
  </table>
</div>