/* ================ */
/* = The 1Kb Grid = */     /* 12 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */
.grid_1       { width:60px;  }
.grid_2       { width:140px; }
.grid_3       { width:220px; }
.grid_4       { width:300px; }
.grid_5       { width:380px; }
.grid_6       { width:460px; }
.grid_7       { width:540px; }
.grid_8       { width:620px; }
.grid_9       { width:700px; }
.grid_10      { width:780px; }
.grid_11      { width:860px; }
.grid_12      { width:940px; }
.column       { margin: 0 10px; overflow: hidden; float: left; display: inline; }
.row          { width: 960px; margin: 0 auto; overflow: hidden; }
.row .row     { margin: 0 -10px; width: auto; display: inline-block; }
.visible_grid { background-image: url(/images/grid.png); background-repeat: repeat; background-position: 10px 10px; }
/* END 1KB GRID */

body { font-size: 62.5%; font-family: Verdana, Arial, sans-serif; color: #FFF; background-color: #222; }
h1 { text-align: center; font-size: 4.8em; }
form p { margin-bottom: 20px; }
label { display: block; font-size: 2.4em; margin-bottom: 8px; }
input.text, input.password { font-size: 2.4em; width: 380px; padding: 5px; }
input.button { font-size: 2.4em; }
input.checkbox { float: left; margin: 10px 5px 0 0; }

form#new_character p { margin: 0 10px 0 0; float: left; }
form#new_character label { display: block; font-size: 1em; margin-bottom: 3px; }
form#new_character input.text { font-size: 1em; width: 100px; padding: 2px; }
form#new_character input.button { font-size: 1em; margin-top: 20px; }
form#new_character input.checkbox { float: left; margin: 10px 5px 0 0; }
