.add_comment{
  font-style:underline;
  font-size:12px;
  padding:10px;
}

.poster{
  padding:5px;
  font-size:11px;
  border-bottom:1px solid black;
}
.comment_text{
  padding:10px;
}
.comment_header{
  padding:10px 0px;
}
.comment{
  margin-bottom:7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.comment_text{
  color:#E5CC80;
}

#new_comment{
  padding:10px;
  display:none;
}
