.epic,a.epic:visited,a.epic:hover{
  color:#A335EE;
}
.rare,a.rare:visited,a.rare:hover{
  color:#0070DD;
}
.uncommon,a.uncommon:visited,a.uncommon:hover{
  color:#1EFF00;
}
.heirloom,a.heirloom:visited,a.heirloom:hover{
  color:#E5CC80;
}
.item_icon {
  width:43px;
  height:43px;
}
.wow_item{
  width:250px;
  vertical-align:middle;
}
.upgrade_info {
  width:200px;
}
.upgrade_section h2{
  padding-bottom:7px;
}
.upgrade{
  vertical-align:middle;
}
.upgrade td {
  padding:2px;
}
.upgrade .cost {
  float:left;
  font-size:14px;
  padding:13px;
}