.epic,a.epic:visited,a.epic:hover{
  color:#A335EE;
}
.rare,a.rare:visited,a.rare:hover{
  color:#0070DD;
}
.uncommon,a.uncommon:visited,a.uncommon:hover{
  color:#1EFF00;
}
.heirloom,a.heirloom:visited,a.heirloom:hover{
  color:#E5CC80;
}
.item_icon {
  width:43px;
  height:43px;
}
.wow_item{
  width:250px;
  vertical-align:middle;
}
.upgrade_info {
  width:150px;
}
.upgrade_source{
  padding-left:45px;
}
.upgrade_section h2{
  padding-bottom:7px;
}
.upgrade_headers th{
  padding-bottom:10px;
  padding-top:10px;
}
.downgrade .gmt_points{
  color:red;
}
.upgrade .gmt_points{
  color:#1EFF00;
}
.upgrade, .downgrade{
  vertical-align:middle;
  background-color:#1A1A1A;
  border:1px solid black;
}
.upgrade td, .downgrade td {
  padding:2px;
}
.upgrade .cost, .downgrade .cost {
  float:left;
  font-size:14px;
  padding:13px;
}
#upgrades{
  padding-top:20px;
  float:left;
}
#tabs{
  float:left;
  padding-top:15px;
}
#active_tab{
  padding-left:10px;
  padding-bottom:10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float:left;
  position:relative;
  z-index:1;
  left:-2px;
  border:2px solid white;
  min-height:400px;
  min-width:850px;
}
.tab{
  position:relative;
  z-index:2;
  background:#121212;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  padding:5px;
  margin-top:3px;
  border:2px solid white;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.tab:hover{
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background:#303030;
}
#tabs .selected{
  border-right:none;
  filter:alpha(opacity=1);
  -moz-opacity:1;
  -khtml-opacity: 1;
  opacity: 1;
  background:#222222;
}
.upgrade_summary_header{
  padding-top:15px;

  margin:0;
}