.item { width: 390px; float: left; padding:10px; padding-right:100px; }
.item ul.links { clear: both; float: right; margin-top: 6px; }
.item ul.links li { padding: 4px 0 6px 26px; font-size: 10px; float: left; margin-right: 10px; }
.item ul.links li.wowwiki { background: transparent url(/images/icons/wowwiki.png) 0 0 no-repeat; }
.item ul.links li.wowhead { background: transparent url(/images/icons/wowhead.png) 0 0 no-repeat; }

.item_details { float: left; font-size: 14px; width:450px;}
.item_details ul { margin: 10px 0 24px 12px; }
.item_details ul li { margin-bottom: 10px; }

.item_details ul.sources { font-size: 16px; }
.item_details ul.sources li img { float: none; vertical-align: middle; margin-right: 4px; }

.item_details ul.sources li abbr { font-family: Georgia; padding: 0 0 0 26px; background: transparent none 0 0 no-repeat; }
.item_details ul.sources li .emblem_of_frost { color: SteelBlue; background-image: url(http://www.wowarmory.com/wow-icons/_images/21x21/inv_misc_frostemblem_01.png); }
.item_details ul.sources li .emblem_of_triumph { color: purple; background-image: url(http://www.wowarmory.com/wow-icons/_images/21x21/spell_holy_summonchampion.png); }
.item_details ul.sources li .arena_point { background-image: url() }
.item_details ul.sources li .honor_point { background-image: url() }
.item_details ul.sources li .container { background-image: url(/images/wow_icons/16x16/Chest.png) }
.item_details ul.sources li .gold { padding-left: 20px; background-image: url(http://static.wowhead.com/images/icons/money-gold.gif); background-position: 3px 6px; }
.item_details ul.sources li .silver { padding-left: 20px; background-image: url(http://static.wowhead.com/images/icons/money-silver.gif); background-position: 3px 6px; }
.item_details ul.sources li .copper { padding-left: 20px; background-image: url(http://static.wowhead.com/images/icons/money-copper.gif); background-position: 3px 6px; }

.legendary, a.legendary:visited, a.legendary:hover{
  color:#FF8000;
}
.epic,a.epic:visited,a.epic:hover{
  color:#A335EE;
}
.common,a.common:visited,a.common:hover{
  color:#9d9d9d;
}
.rare,a.rare:visited,a.rare:hover{
  color:#0070DD;
}
.uncommon,a.uncommon:visited,a.uncommon:hover{
  color:#1EFF00;
}
.heirloom,a.heirloom:visited,a.heirloom:hover{
  color:#E5CC80;
}
.item_icon {
  width:43px;
  height:43px;
}
.item_info{
  width:250px;
  vertical-align:middle;
}
.upgrade_info {
  width:150px;
}
.upgrade_source{
  padding-left:45px;
}
.upgrade_section h2{
  padding-bottom:7px;
}
.upgrade_headers th{
  padding-bottom:10px;
  padding-top:10px;
}
.downgrade .gmt_points{
  color:red;
}
.upgrade .gmt_points{
  color:#1EFF00;
}
.upgrade, .downgrade, .item_popularity, .comment, .item_dropped{
  vertical-align:middle;
  background-color:#1A1A1A;
  border:1px solid black;
}
.upgrade td, .downgrade td, .item_popularity td, .item_dropped td{
  padding:2px;
}
.upgrade .cost, .downgrade .cost {
  float:left;
  font-size:14px;
  padding:13px;
}
#upgrades{
  padding-top:20px;
  float:left;
}
#tabs{
  float:left;
  padding-top:15px;
}
#active_tab{
  padding-left:10px;
  padding-bottom:10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float:left;
  position:relative;
  z-index:1;
  left:-2px;
  border:2px solid white;
  min-height:400px;
  min-width:850px;
}
.tab{
  position:relative;
  z-index:2;
  background:#121212;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  padding:5px;
  margin-top:3px;
  border:2px solid white;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  width: 42px;
  overflow: hidden;
}
.tab:hover{
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background:#303030;
}
#tabs .selected{
  border-right:3px solid #222222;
  filter:alpha(opacity=1);
  -moz-opacity:1;
  -khtml-opacity: 1;
  opacity: 1;
  background:#222222;
}

.upgrade_summary_header{
  padding-top:15px;
  margin:0;
}

.pagination{
  text-align:center;
  padding:10px 0px;
}
.beta{
  color: grey;
}
#tooltip{
  display:none;
  position:absolute;
  z-index:99999;
}
.image_item_link{
  float:left;
}
#item_tooltip{
  float:left;
}
#item_sources{
  padding-left:20px;
  float:left;
}
