#spec_class_table{
  font-size:16px;
  text-align:center;
  padding-left:50px;
}
.class_column{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin:5px;
  width:160px;
  float:left;
  background-color:#1A1A1A;
}
.class_name{
  background-color:#121212;
  padding:5px;
}

.item_popularity_table{
  margin-left:225px;
}
.item_popularity_table th{
  font-weight:bold;
}
.item_popularity_table th,.item_popularity_table td{
  text-align:center;
}
.item_popularities{
  text-align:center;
}
.popularity_title{
  padding-bottom:20px;
}

.item_container{
  width:100%;
  float:left;
}

.filter_select{
  padding-bottom:15px;
}

.spec_link{
  text-decoration:none;
}
.spec_entry{
  padding:10px 0;
}
.spec_entry:hover{
  background-color:#323232;
}

.spec_entry .spec_icon{
  padding:3px 0 3px 25px;
}

#spec_class_header{
  font-size:18px;
  width:100%;
  text-align:center;
  padding-bottom:15px;
}

#spec_header{
  background-color:#121212;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border:1px solid white;
  width:518px;
  margin-left:220px;
  margin-bottom:10px;
}
.spec_header_description{
  padding:10px;
  border-top:1px solid white;
}
