.gmt-tooltip-container { float: right; }
.gmt-tooltip-container img.gmt-tooltip-icon { float: left; margin-right: 5px; }

.gmt-tooltip{
  max-width:300px;
  z-index:100000006;
  overflow:visible!important;
  background-color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size:12px;
  line-height:17px;
  color:white;
  float: left;
}
.gmt-tooltip .heroic{
  color:#1EFF00;
}

.gmt-tooltip div{
  padding-top:1px;
}
.gmt-tooltip a{
  text-decoration:none;
}
.gmt-tooltip a:hover{
  text-decoration:underline;
}
.gmt-tooltip .item_name{
  font-size:14px;
  line-height:19px;
}
.gmt-tooltip .weapon_info, .gmt-tooltip .armor_info{
  width:100%;
  float:left;
}
.armor_info .item_slot, .weapon_info .min_max_damage{
  float:left;
}
.armor_info .armor_type, .weapon_info .attack_speed{
  float:right;
}
.socket {
  padding-left:20px;
}
.socket_meta{background:url(/images/tooltip/socket_meta.png) no-repeat left center;}
.socket_red{background:url(/images/tooltip/socket_red.png) no-repeat left center;}
.socket_yellow{background:url(/images/tooltip/socket_yellow.png) no-repeat left center;}
.socket_blue{background:url(/images/tooltip/socket_blue.png) no-repeat left center;}
