<div class="creature">
  <div class="name"><%= @creature.name %></div>
  <% @creature.dropped_sources.each do |item_source| %>
    <div class="item_dropped"><%= item_source.item.name %></div>
  <% end %>
</div>