<div class="upgrade_section" id="<%= kind_of_upgrade %>">
  <h2>Your best upgrades from <%= yield %></h2>
  <% upgrades.each do |upgrade| %>
    <%= render 'shared/upgrade', :upgrade => upgrade %>
  <% end %>
</div>
