<div class="upgrade_section" id="<%= kind_of_upgrade %>">
  <% if upgrades.any? %>
    <table class='upgrade_table'>
      <thead>
        <tr>
          <th></th>
          <th>Upgrade</th>
          <th>DPS Value</th>
          <th></th>
          <th>Old Item</th>
          <th>Upgrade Source</th>
        </tr>
      </thead>
    <% upgrades.each do |upgrade| %>
      <%= render 'shared/upgrade', :upgrade => upgrade %>
    <% end %>
    </table>
  <% end %>
</div>
