<% render :layout => "shared/pve_tabs" do %>
  <div id="new_toon">
    <div id="character_gearing" href="<%= status_character_url(@character, :format => "json") %>">
      Please wait while we find the best gear for your toon. <%= image_tag "loading.gif" %>
    </div>
  </div>
<% end %>
