<div id="new_toon">
  <div id="character_refresh" href="<%= status_character_url(@character, :format => "json") %>">
  </div>
  Please wait while we import your toon from the armory. <%= image_tag "loading.gif" %>
</div>