<div id="new_toon">
  <div id="character_refresh" href="<%= character_refresh_url(@character.character_refreshes.active.recent.last, :format => "json") %>">
  </div>
  Please wait while we find the best gear for your toon. <%= image_tag "loading.gif" %>
</div>