<h2>Contact us</h2>
<ul>
  <li><a href="http://twitter.com/gearmytoon">@gearmytoon on Twitter</a></li>
  <li><a href="http://www.facebook.com/pages/Gear-My-Toon/116201925065981">Become a Fan on Facebook</a></li>
  <li><a href="mailto:gearmytoon@gmail.com">E-mail us</a></li>
</ul>
<h2>Find us in game</h2>
<ul>
  <li><a href="http://gearmytoon.com/characters/merb-baelgun-us">Nolan</a></li>
  <li><a href="http://gearmytoon.com/characters/ecma-baelgun-us">Adam</a></li>
</ul>
