<table id='payment_plans'>
  <tr>
    <th>Plan</th>
    <th>Number of Toons</th>
    <th>Price</th>
    <th>Time Frame</th>
  </tr>
  <tr class="payment_plan">
      <td class="plan">One Day Trial</td>
      <td class="number_of_toons">5</td>
      <td class="price">$1</td>
      <td class="time_frame">One Day</td>
      <td class="checkout">
        <%= standard_simple_pay_form %>
      </td>
  </tr>
  <tr class="payment_plan">
      <td class="plan">Personal Subscription</td>
      <td class="number_of_toons">5</td>
      <td class="price">$3</td>
      <td class="time_frame">One Month</td>
      <td class="checkout">
        <%= subscription_simple_pay_form %>
      </td>
  </tr>
</table>


