<span class="source">Found inside: <%= item_source.container.name %></span>
<%= image_tag "wow_icons/32x32/Chest.png" %>Icy Chest in <img src="/images/game_icons/dungeon.png" width="20" height="20" /><%= link_to "Pit of Saron", "#" %>
