<span class="source">Dropped by: <%= wowhead_area_link(item_source.source_area) %></span>
<%= link_to "Loken", "#", :class => "neutral npc" %> in <img src="/images/game_icons/dungeon.png" width="20" height="20" /><%= link_to "Halls of Lightning", "#" %>
