<span class="cost"><%= image_tag "http://www.wowarmory.com/wow-icons/_images/43x43/inv_misc_frostemblem_01.png", :width => "22", :height => "22" %>60 Emblems of Frost</span> via <span class="vendor"><%= link_to "Angstrom", "#", :class => "npc alliance" %> or <%= link_to "Langstrom", "#", :class => "npc horde" %></span>
